.header {
  grid-area: h;
  background-color: #1BA098;
  background-image: url('./../../assets/images/header.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo img {
  width: 100%;
  max-width: 50px;
}