body {
  margin: 0;
  padding: 0;
  color: #DEB992;
 
}

.app-wrapper {
  width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
   background-color: #022422;
}

.app-wrapper-content {
  grid-area: c;
}

.friendItem {
  margin-left: 20px;
}