.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.user {

}

.user a {
  padding: 20px;
  text-decoration: none;
  color: rgb(61, 61, 61);
}

/* .user a.active {
  color: rgb(41, 138, 228);
} */
/* 
.dialogItems {
  padding: 10px;
} */

.messages {
  padding: 10px;
}
