.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.user a {
  text-decoration: none;
  color: rgb(61, 61, 61);
}

.user a:hover {
  color: rgb(41, 138, 228);
  transition: .5s;
}

.user a.active {
  color: rgb(41, 138, 228);
}

.dialogItems {
  padding: 20px;
}

.messages {
  padding: 20px;
}